############################
# macOS 系统文件
############################
.DS_Store

############################
# VS Code
############################
.vscode/

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

############################
# Java
############################
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

############################
# C++
############################
*.o
*.out
*.exe
*.a
*.so
*.dSYM/

############################
# Build folders (通用)
############################
build/
dist/
out/

############################
# Logs
############################
*.log

############################
# OS generated / misc
############################
Thumbs.db
